
<aside th:fragment="pc-sidebar" class="w-64">
    <nav>
        <ul>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 1', '#')"></li>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 2', '#')"></li>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 3', '#')"></li>
        </ul>
    </nav>
</aside>
<!-- Mobile menu -->
<aside th:fragment="mobile-sidebar" class="md:hidden">
    <nav>
        <ul>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 1', '#')"></li>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 2', '#')"></li>
            <li th:insert="fragments/sidebar-item :: sidebarItem('Menu Item 3', '#')"></li>
        </ul>
    </nav>
</aside>
